<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Alti Political Report</title>
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

  <script>
    var rankingDataJson;
  </script>

  <style>
    * { overflow: auto;}
    body { padding: 70px; }
    @media screen and (max-width: 768px) {
      body { padding: 150px; }
    }

    .daily-report { overflow: visible; }
    .nav { margin-top: 8px; }
    .daily-report {
      margin: auto;
      border-bottom: #AAAAA 0.5px solid;
      border-bottom
    }
  </style>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <p>
                <img alt="" src="http://www.alticast.co.kr/tmp.2014.06.images/balloon.png" width="20"> THE POLITICLA REPORT </p>
          </a>
        </div>

        <ul class="nav nav-tabs navbar-right" style="margin-top:8;">
          <li role="presentation" class="dropdown active">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false"> Daily <span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
              <span>Live</span>
            </ul>
          </li>
          <li role="presentation"><a href="#">About Data</a></li>
          <li role="presentation"><a href="#">About SVC</a></li>
        </ul>
      </div>
    </nav>

    <div id="root"> </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="http://127.0.0.1:3300/bundle.js"></script>
</body>

</html>
